.scp-submit-code-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.scp-header {
  text-align: center;
  margin-bottom: 20px;
}

.scp-title {
  font-size: 24px;
  font-weight: bold;
}

.scp-form-container {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.scp-form-group {
  margin-bottom: 20px;
}

.scp-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.scp-select-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.scp-code-input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
}

.scp-input {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scp-submit-button-container {
  display: flex;
  justify-content: flex-end;
  /* 우측 정렬 */
  gap: 10px;
  /* 버튼 사이에 10px 간격 추가 */
}

.scp-submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.scp-submit-button:hover {
  background-color: #45a049;
}