/* 프로필 편집 컨테이너 */
.profileEdit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
}

/* 프로필 편집 제목 스타일 */
.profileEdit-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

/* 프로필 편집 폼 스타일 */
.profileEdit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 입력 필드 컨테이너 */
.profileEdit-input-container {
    margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.profileEdit-input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
}

/* 입력 필드 호버 효과 */
/* outline : none을 통해 기본 테두리 제거 */
.profileEdit-input:focus {
    border-color: #007BFF;
    outline: none;
}

/* 프로필 편집 버튼 스타일 */
.profileEdit-button {
    background-color: #004080;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

/* 프로필 편집 버튼 호버 효과 */
.profileEdit-button:hover {
    background-color: #003366;
}