/* 회원가입 전체 배경 */
.signup-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* 회원가입 폼 스타일 */
.signup-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* 회원가입 폼 제목 스타일 */
.signup-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* 입력 컨테이너 */
.signup-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* 입력 컨테이너 텍스트 스타일 */
.signup-input-container label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/* 입력 필드 스타일 */
.signup-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

/* 버튼 컨테이너 */
/* gap을 통해 버튼 사이의 간격을 설정. */
.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

/* (취소, 확인) 버튼 스타일 */
/* box-sizing를 통해 패딩이 너비에 영향을 미치지 않도록 설정. */
.signup-button,
.cancel-button,
.confirm-button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

/* 취소 버튼 색 스타일 */
.cancel-button {
    background-color: #6c757d;
    color: #fff;
}

/* 취소 버튼 호버 효과 */
.cancel-button:hover {
    background-color: #5a6268;
}

/* 확인 버튼 색 스타일*/
.confirm-button {
    background-color: #004085;
    color: #fff;
}

/* 확인 버튼 호버 효과 */
.confirm-button:hover {
    background-color: #003366;
}