/* 전체 페이지 스타일 */
.mainPage-App {
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  /* 최소 높이를 화면 전체 높이로 설정 */
  height: 100%;
  /* 화면 전체 높이 */
  background-size: cover;
  /* 배경 이미지를 화면을 꽉 채우도록 설정 */
  background-position: center center;
  /* 배경 이미지 중앙 배치 */
  background-repeat: no-repeat;
  /* 배경 이미지 반복 방지 */
  transition: background-image 1s ease-in-out;
  /* 배경 이미지 전환 애니메이션 */
}

/* gif 이미지를 화면에 맞게 배경으로 덮는 스타일 */
.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* 배경으로 설정하여 콘텐츠 위에 표시되지 않도록 */
}

.image-wrapper .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지를 부모 요소에 맞게 비율을 유지하며 꽉 차게 만듦 */
}

/* 큰 화면에서는 배경 이미지를 화면에 맞게 꽉 채우기 */
@media (min-width: 1024px) {
  .mainPage-App {
    background-size: cover;
    /* 이미지가 화면을 꽉 채움 */
    background-position: center center;
    /* 중앙에 이미지 배치 */
    background-attachment: fixed;
    /* 스크롤 시 배경 이미지가 고정되어 보이도록 설정 */
  }
}

.mainPage-header {
  background-color: rgba(32, 32, 32, 0.5);
  color: #fff;
  padding: 40px;
  text-align: center;
  position: relative;
}

.mainPage-header-content {
  max-width: 700px;
  margin: auto;
}

.mainPage-header-content p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.mainPage-spring-label {
  padding: 5px 10px;
  display: inline-block;
  border-radius: 15px;
  font-weight: bold;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 140px;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 160px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0 10px;
  will-change: transform, box-shadow;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.box-icon1,
.box-icon2,
.box-icon3 {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

.review {
  color: #1abc9c;
}

.box-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mainPage-signup-button {
  background-image: linear-gradient(to right, #000000, #000000);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.mainPage-code-review-section {
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
  padding: 100px;
  margin-top: 20px;
}

.mainPage-code-review-section h2 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.mainPage-code-review-section .underline {
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin: 10px auto;
}

.mainPage-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.mainPage-footer-content {
  max-width: 800px;
  margin: auto;
}

.mainPage-multi-column-section {
  background-color: #212121;
  color: #ddd;
  padding: 40px 0;
}

.mainPage-multi-column-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.mainPage-column {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.mainPage-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #ffffff;
}

.mainPage-column ul {
  list-style-type: none;
  padding: 0;
}

.mainPage-column ul li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
}

.mainPage-column ul li:hover {
  color: #1abc9c;
  cursor: pointer;
}

/* 모바일 화면에서 다단 컬럼 레이아웃을 세로로 쌓기 위한 스타일 */
@media (max-width: 768px) {
  .mainPage-multi-column-container {
    flex-direction: column;
    align-items: center;
  }

  .mainPage-column {
    margin-bottom: 30px;
  }
}