/* 메뉴바 전체 스타일 */
.menuBar-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  border-bottom: 2px solid #ddd;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

/* 메뉴바 아이콘 스타일 */
.menuBar-icon {
  margin-right: 8px;
}

/* 로고 컨테이너 스타일 */
.menuBar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 로고 링크 스타일 */
.menuBar-logo-link {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* 로고 링크 마우스 오버 스타일 */
.menuBar-logo-link:hover {
  color: #1abc9c;
}

/* 로고 서브텍스트 스타일 */
.menuBar-logo-subtext {
  font-size: 12px;
  color: #998e8e;
  font-weight: bold;
}

/* 로고 강조 텍스트 스타일 */
.menuBar-logo-highlight {
  color: #1abc9c;
}

/* 인증 관련 버튼 스타일 */
.menuBar-item-auth {
  color: #333;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

/* 인증 버튼 호버 효과 */
.menuBar-item-auth:hover {
  background-color: #1abc9c;
  color: #fff;
}

/* 메뉴 아이템 컨테이너 */
.menuBar-items {
  display: flex;
  gap: 35px;
}

/* 개별 메뉴 아이템 스타일 */
.menuBar-item {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 메뉴 아이템 호버 효과 */
.menuBar-item:hover {
  color: #fff;
  background-color: #1abc9c;
}

/* 활성화된 메뉴 스타일 */
.menuBar-item-active {
  color: #1abc9c;
  border-bottom: 2px solid #1abc9c;
  font-weight: bold;
}

/* 인증 버튼 및 로그아웃 버튼 컨테이너 */
.menuBar-auth {
  display: flex;
  gap: 20px;
}

/* 인증 관련 공통 스타일 */
.menuBar-auth .menuBar-item,
.menuBar-auth .menuBar-logout-button {
  font-size: 16px;
  color: #333;
}

/* 로그아웃 버튼 스타일 */
.menuBar-auth .menuBar-logout-button {
  background-color: #1abc9c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #1abc9c
}

/* 로그아웃 버튼 호버 효과 */
.menuBar-auth .menuBar-logout-button:hover {
  background-color: #16a085;
}